.top_menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.element_of_menu{
    color: white;
    padding: 12px 0;
    margin: 0 13px;
}

.img_main_logo{
    width: 33%;
    margin: 6px 0;
}

.basket_logo{
    background: none;
    width: 20px;
}

.basket_url{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 50%;
    justify-content: space-evenly;
}

.left_top_menu{
    display: flex;
}

.right_top_menu{
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.text_center{
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.add_to_basket {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1e83ec;
    outline: none;
    cursor: pointer;
    transition: 0.3px;
    display: block;
    margin: 20px auto;

}

.add_to_basket:focus,
.add_to_basket:hover {
    background-color: #3d82cc;
}

.main_logo_in_center{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 35px 0 20px 0px;
}

.shop_item_title{
    font-size: 20px;
    font-weight: 700;
}
