.basket_list{

}

.item_in_basket_list{
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px;
    border-radius: 10px;
    margin: 7px 0;
    justify-content: space-between;
}

.item_img_in_basket_list{
    object-fit: contain;
    width: 8%;
    padding: 4px;
    border-radius: 10px;
}

.item_title_and_description_in_basket_list{
    padding-left: 25px;
}

.item_price_and_measure_in_basket_list{
    width: 100px;
}

.item_title_in_basket_list{

}

.item_measure_in_basket_list{

}

.item_price_in_basket_list{

}

.left_flex{
    display: flex;
    width: 80%;
}

/* FORM */
.form-group {
    margin-bottom: 40px;
    position: relative;
}

.form_label {
    position: absolute;
    top: 0;
    z-index: -100;
    transition: 0.3s;
    left: 0;
}


.form-control{
    padding: 0 0 3px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 100%;
    z-index: 1;
}

.form-control:focus {
    border-bottom: 2px solid #1e83ec;
}
.form-control:focus ~ .form_label,
.form-control:not(:placeholder-shown) ~ .form_label
/* #id_username:focus ~ .form_label,
#id_username:not(:placeholder-shown) ~ .form_label
#id_password:focus ~ .form_label,
#id_password:not(:placeholder-shown) ~ .form_label */
/* form:focus ~ .form_label,
form:not(:placeholder-shown) ~ .form_label */
{
    top: -18px;
    font-size: 16px;
    color: #9e9e9e;
}

.form-control, #id_username, #id_password {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
}

.base_form_label{
    color: #808080;
    margin-top: -7px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form_to_order{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}