.main_logo_in_center{
    font-size: 25px;
    font-weight: 700;
    margin: auto;
    text-align: center;
}

.shop_window{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.shop_item_window{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px;
    border-radius: 10px;
    margin: 0 15px 20px 15px;
    width: 30%;
    height: 100%;
}

.shop_item_img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.shop_item_title{
    font-size: 20px;
    font-weight: 700;
}

.shop_item_description{
    padding: 0 20px;
}

.shop_item_measure{
    margin-top: 20px;
}

.add_to_basket {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1e83ec;
    outline: none;
    cursor: pointer;
    transition: 0.3px;
    display: block;
    margin: 20px auto;

}

.add_to_basket:focus,
.add_to_basket:hover {
    background-color: #3d82cc;
}