<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% block javascript %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', path='base/drop.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='base/base.css') }}">
        {% block css_js_template %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', path='base/favicon.ico') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="viewport" content="width=1100">
        <meta name="robots" content="all">
        <title>Шестерочка</title>
    </head>

    <body>
        <div class="container">
            <div class="top_menu">
                <div class="left_top_menu">
                    <a href="/">
                        <img class="img_main_logo" src="{{ url_for('static', path='img/main_logo.png') }}">
                    </a>
                </div>
                <div class="right_top_menu">
                    <a href="basket/" class="basket_url">
                        <img class="basket_logo" src="{{ url_for('static', path='img/basket.png') }}">
                        <div>Корзина</div>
                    </a>
                </div>
            </div>
        </div>

        {% block body_template %}
        {% endblock %}
    </body>
</html>