<!DOCTYPE html>
<html lang="en">
    <head>
        {% block javascript %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', path='base/base.css') }}">
        {% block css_js_template %}
        {% endblock %}
<!--        <link rel="shortcut icon" href="">-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="viewport" content="width=1100">
        <meta name="robots" content="all">
        <title>Шестерочка</title>
    </head>

    <body>
    {% block body_template %}
    {% endblock %}
    </body>
</html>