{% extends 'base.html' %}

{% block javascript %}
<script defer src="{{ url_for('static', path='js/basket.js') }}"></script>
{% endblock %}

{% block css_js_template %}
<link rel="stylesheet" href="{{ url_for('static', path='css/basket.css') }}">
{% endblock %}

{% block body_template %}
<div class="container">

    <div class="main_logo_in_center">Корзина:</div>

    <div class="basket_list" id="basket_list">

<!--        <div class="item_in_basket_list display_flex">-->
<!--            <div class="display_flex">-->
<!--                <img class="item_img_in_basket_list" src="https://svetofornadom.ru/upload/iblock/cea/34jxeonm9s5w2em7m3mhkmbomp4cx4eq/269.jpg">-->

<!--                <div class="item_title_and_description_in_basket_list">-->
<!--                    <div class="item_title_in_basket_list shop_item_title">Мандарины</div>-->
<!--                    <div class="item_description_in_basket_list">Абхазкие</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="item_price_and_measure_in_basket_list">-->
<!--                <div class="item_measure_in_basket_list">Кол-во: 1 кг</div>-->
<!--                <div class="item_price_in_basket_list">320 ₽</div>-->
<!--            </div>-->

<!--        </div>-->

    </div>


    <button class="add_to_basket delete_basket">Удалить корзину</button>
</div>
{% endblock %}